.App {
  display: flex;
}

hr {
  background-color: #fff;
  padding: 0;
  margin: 80px;
}

hr.hr-1 {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

a:link{  
  color: rgb(200, 200, 250) !important;
  text-decoration:underline;
}
a:visited{
  color: rgb(200, 200, 250) !important;
  text-decoration:underline;
}
a:active{
  color: rgb(86, 86, 208) !important;
}

.text-center{
  margin: auto !important
}

.border-outline{
  border: 3px solid rgb(90, 100, 255) !important;
}

.border-outline{
  border: 3px solid rgb(90, 100, 255) !important;
}
.border-outline:hover{
  border: 3px solid rgb(90, 100, 255) !important;
  cursor:pointer
}

.border-outline-select{
  border: 3px solid rgb(35, 45, 150) !important;
}
.border-outline-select:hover{
  border: 3px solid rgb(35, 45, 150) !important;
  cursor:pointer
}

.font-bold{
  font-weight: bold !important
}

.pet-image{
  width: 100px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.border-zero{
  border: 0px;
  font-size: small;
  font-weight: bold;
}

.impo-margin-zero{
  margin: 0px !important;
}
.margin-bottom-10{
  margin-bottom: 10px !important;
}

.float-display{
  float: left;
}

.color-lightPurple{
  color: rgb(90, 100, 255);
  font-weight: 800;
}

.color-violet {
  color: rgb(200, 200, 250) !important;
  font-weight: 800;
}

.color-red{
  color: red;
}

.form{
  width: 60% !important;
}

.form-Control{
  background: #eee !important;
}

.form-control::placeholder {
  color: rgb(200, 200, 250) !important;
}
.w-30p{
  width: 30% !important;
}
.w-max{
  width: 100% !important;
}

.h-50{
  height: 50px;
}

.page-title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 800;
  color: rgb(90, 100, 255);
}
.center{
  margin: 50px;
  text-align: center;
}
.image-w{
  display: inline !important;
  width: 100px;
}
.margin-bottom-20{
  margin-bottom: 20px;
}

.color-darkBlue{
  color: rgb(35, 45, 150) !important;
  font-weight: 800 !important;
}

.input-bgSet{
  background: #eee !important;
  border-radius: 10px !important;
}

.bg-body-tertiary{
  padding-top: 20px;
  width: auto !important;
  border-bottom: 3px solid rgb(200, 200, 250);
  /*폰트 미정*/
}

.h-200{
  /* height: 200px; */
  height: 100%;
}

.h-225{
  height: 225px;
}