.App {
  display: flex;
  justify-content: center;
  
}

.impo-margin-zero{
  margin: 0px !important;
}

.float-display{
  float: left;
}

.color-violet {
  color: rgb(200, 200, 250) !important;
}

.form{
  width: 60% !important;
}

.form-Control{
  background: #eee;
}

.form-control::placeholder {
  color: rgb(200, 200, 250) !important;
}

.page-title{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 800;
  color: rgb(90, 100, 255);
}
.center{
  margin: 50px;
  text-align: center;
}
.image-w{
  display: inline !important;
  width: 100px;
}

.color-darkBlue{
  color: rgb(35, 45, 150);
  font-weight: 800;
}

.input-bgSet{
  background: #eee !important;
  border-radius: 10px !important;
}

.bg-body-tertiary{
  padding-top: 20px;
  width: auto !important;
  border-bottom: 3px solid rgb(200, 200, 250);
  /*폰트 미정*/
}

